
.dropdown {
    margin: 16px;
    display: inline-block;
    color: white;
    opacity: 0.8; 
}
.menu-button {
    padding: 16px;
    background-color: darkgreen;
    position: relative;
    display: flex;
}

.dropdown:hover {
    opacity: 1;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.menu-list {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    color: black;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    z-index: 1;
}
.dropdown:hover .menu-list {
    display: block;
}
.menu-item {
    padding: 16px;
    list-style-type: none;
}
.menu-item:hover {
    background-color: ghostwhite;
}