@import 'variables.scss';

.header {
    background-color: $color-grey;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    height: $unit * 7;
    align-items: center;
    list-style-type: none;
    
   &__item { 
    
    border-radius: $border-radius;
    color: $text-color-secondary;
    padding: $unit;
    margin-left: $unit;
    font-weight: 700;
    cursor: pointer;
    background-color: $color-secondary;
   
    &_selected {
        background-color: $color-primary;
    }

   &:hover {
    opacity: 0.7;
   }
    }
}