html {
    font-family: Verdana;
}
h1 {
    font-size: 74px;
    height: 50vw;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}
div {
    height: 200px;
    background-color: coral;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 200px;
}