 * {
    box-sizing: border-box;
 }
 header {
    display: flex;
    justify-content: center;
 }
 .article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
 }
article {
    flex-grow: 1;
    flex-basis: 300px;
    flex-wrap: wrap;
}
