* {
   box-sizing: border-box;
}

header {
   display: flex;
   justify-content: center;
}

.article {
   margin: 8px;
   padding: 16px;
   background-color: bisque;
}

.articles-list {
   display: flex;
   flex-wrap: wrap;
}

.article {
   flex: 1 0 300px;
}