.text {
    margin: 16px;
    text-decoration: underline 1px dotted black;
    display: inline-block;
    position: relative;
}   
.tooltip {
    position: absolute;
    display: none;
    background-color: grey;
    color: white;
    border-radius: 4px;
    padding: 8px;
    bottom: -40px;
}
.text:hover .tooltip {
    display: flex;
    visibility: visible;
}