* {
    box-sizing: border-box;
}

.form {
    margin: 32px;
}

.input {
    display: block;
    margin: 8px;
}

.languages {
    font-style: normal;
    display: block;
}

.textarea {
    margin: 8px;
}

.radio {
    margin: 8px;
}