* {
    box-sizing: content-box;
}
.divStyle {
    height: 140px;
    width: 420px;
    margin: 50px 100px 50px 100px;
    padding: 20px;
    background-color: bisque;
    border-top: 10px solid firebrick;
    border-right: 20px solid chartreuse;
    border-bottom: 10px dashed burlywood;
    border-left: 20px dashed aqua;

}