.header {
    height: 50px;
    background-color: yellow;

}

.content {
    background-color: pink;
    width: 80%;
    float: left;
    height: 500px;

}

.sidebar {
    background-color: grey;
    width: 20%;
    height: 500px;

}

.footer {
    height: 50px;
    background-color: green;
    clear: both;

}