.pink{
    background-color: pink;
    border: 2px solid black;
    padding: 50px;
}
.green {
    background-color: green;
    border: 2px solid black;
    padding: 50px;

}
.yellow {
    background-color: yellow;
    border: 2px solid black;
    padding: 50px;

}
.blue {
    background-color: blue;
    border: 2px solid black;
    padding: 50px;
    margin: 50px;
}